body {
  background-color: black;
  font-family: Arial, sans-serif;
}
.colorize {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.colorize-container {
  padding: 20px;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.colorize-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorize-button:hover {
  background-color: #45a049;
}
.code {
  background-color: black;
  color: white;
  
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.colorize-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}